/*Screen Layout: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1326px) {
    .navbar-brand {
        color: var(--tCoderBD_white_color);
        padding: 10px 0px 5px 0px !important;
        font-size: 25px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px 10px 10px;
    }
    .navbar-toggle {
        border-color: var(--tCoderBD_white_color);
        margin-right: 0;
        padding: 5px 8px;
    }
    .home__background__text__h1 {
        font-size: 35px;
    }
    .home__background__text_h2 {
        font-size: 15px;
    }
    .home__background img {
        height: 25px;
    }
    .about__user_friendly_margin {
        display: none;
    }
    #get-in-touch .footer_social_icon {
        text-align: center;
    }
    #get-in-touch .footer_social_icon .social_text_end {
        text-align: center;
    }
    .count__background {
        height: 50vh;
    }
}


/* Screen Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .count__background {
        height: 40vh;
    }
    .navbar__varticalbar {
        display: none !important;
    }
    .navbar-brand {
        color: var(--tCoderBD_white_color);
        padding: 10px 0px 5px 0px !important;
        font-size: 25px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
    }
    .navbar-toggle {
        border-color: var(--tCoderBD_white_color);
        margin-right: 0;
        padding: 5px 8px;
    }
    /* Count Background */
    .count__background .container {
        padding-top: 100px;
    }
    .home__background__text__h1 {
        font-size: 25px;
    }
    .home__background__text_h2 {
        font-size: 10px;
    }
    .home__background img {
        height: 20px;
    }
    .about__user_friendly_margin {
        display: none;
    }
    .portfolio_section {
        padding: 100px 10px 100px 10px;
    }
    .portfolio__text__bottom {
        font-size: 12px;
    }
    .portfolio_showcasing {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    #get-in-touch .footer_social_icon {
        text-align: center;
    }
    #get-in-touch .footer_social_icon .social_text_end {
        text-align: center;
    }
}


/* Screen Layout: 320px. */

@media only screen and (max-width: 1200px) {
    .navbar__varticalbar {
        display: none !important;
    }
    .navbar-brand {
        color: var(--tCoderBD_white_color);
        padding: 10px 0px 5px 0px !important;
        font-size: 25px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
    }
    .navbar-toggle {
        border-color: var(--tCoderBD_white_color);
        margin-right: 0;
        padding: 5px 8px;
    }
    .home__background__text__h1 {
        font-size: 25px;
    }
    .home__background__text_h2 {
        font-size: 10px;
    }
    .home__background img {
        height: 20px;
    }
    .about__user_friendly_margin {
        display: none;
    }
    .portfolio_section {
        padding: 100px 10px 100px 10px;
    }
    .portfolio__text__bottom {
        font-size: 10px;
    }
    .portfolio_showcasing {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .portfolio__overlay_middle_section {
        bottom: 2%;
        left: 3%;
        right: 2%;
        top: 5%;
        width: 94%;
        height: 90%;
    }
    .watch_text {
        font-size: 20px;
        font-weight: 200;
    }
    .single-testimonial {
        padding: 10px;
    }
    .testimonial-image img {
        height: 150px;
    }
    .carousel-indicators button {
        margin-bottom: 50px !important;
    }
    .pricing_box .columns {
        width: 100%;
    }
    .pricing_box .price {
        margin: 0px;
        margin-top: 40px;
    }
    .pricing_box .row {
        padding: 0px;
    }
    #get-in-touch .footer_social_icon {
        text-align: center;
    }
    #get-in-touch .footer_social_icon .social_text_end {
        text-align: center;
    }
}


/* Screen Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar__varticalbar {
        display: none !important;
    }
    .navbar-brand {
        color: var(--tCoderBD_white_color);
        padding: 10px 0px 5px 0px !important;
        font-size: 25px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
    }
    /* Count Background */
    .count__background .count_padding {
        padding-top: 10px;
    }
    .count__background .container {
        padding-top: 50px;
        font-size: 10px;
    }
    .count__background {
        height: 50vh;
    }
    .count__background h4 {
        font-size: 16px;
    }
    .count__background h6 {
        font-size: 12px;
    }
    .count__background img {
        height: 40px;
        padding-right: 15px;
    }
    .navbar-toggle {
        border-color: var(--tCoderBD_white_color);
        margin-right: 0;
        padding: 5px 8px;
    }
    .about__user_friendly_margin {
        display: none;
    }
    .portfolio__text__bottom {
        font-size: 10px !important;
    }
    .portfolio_showcasing {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .blog_section_title {
        padding-bottom: 0px !important;
        padding-top: 20px;
        font-size: 20px;
    }
    .input_section .input-field {
        width: 100%;
        padding: 5px;
        outline: none;
        background-color: var(--tCoderBD_transparent_Color);
    }
    .input_section .icon {
        position: absolute;
        top: 20%;
        left: 3%;
        font-size: 25px;
    }
    .pricing_box .columns {
        width: 100%;
    }
    .pricing_box .price {
        margin: 0px;
        margin-top: 40px;
    }
    .pricing_box .row {
        padding: 0px;
    }
    #get-in-touch .footer_social_icon {
        text-align: center;
    }
    #get-in-touch .footer_social_icon .social_text_end {
        text-align: center;
    }
}

@media only screen and (max-width: 478px) {
    .option_selection .list-group-item {
        font-size: 12px;
        padding: 0.1rem 0.4rem;
    }
    .portfolio_section {
        padding: 100px 10px 100px 10px;
    }
    .portfolio__text__bottom {
        font-size: 10px !important;
    }
    .portfolio_showcasing {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .testimonials_h5 {
        padding-top: 10px !important;
    }
    .testimonial .testimonial_text_p,
    .description_p {
        font-size: 12px !important;
    }
    .testimonial-image {
        width: 120px;
        height: 120px;
    }
    .testimonial-image img {
        height: 120px;
        width: 120px;
    }
    .carousel-indicators button {
        margin-bottom: 10px !important;
    }
    .blog_section_title {
        padding-bottom: 0px !important;
        padding-top: 20px;
        font-size: 20px;
    }
    .subscribe_section .button {
        padding: 10px 25px 10px 10px;
        background-color: var(--tCoderBD_Button_Hover_Color);
        color: white;
        text-align: center;
    }
    /* Count Background */
    .count__background .count_padding {
        padding-top: 10px;
    }
    .count__background .container {
        padding-top: 30px;
    }
    .count__background h4 {
        font-size: 16px;
    }
    .count__background h6 {
        font-size: 12px;
    }
    .count__background img {
        height: 40px;
        padding-right: 15px;
    }
    .input_section .input-field {
        width: 100%;
        padding: 0px;
        outline: none;
        background-color: var(--tCoderBD_transparent_Color);
    }
    .input_section .icon {
        position: absolute;
        top: 20%;
        left: 3%;
        font-size: 25px;
    }
    .pricing_box .columns {
        width: 100%;
    }
    .pricing_box .price {
        margin: 0px;
        margin-top: 40px;
    }
    .pricing_box .row {
        padding: 0px;
    }
    .pricing_box .price .header {
        font-size: 15px;
    }
    .pricing_box .button {
        padding: 5px 10px;
        font-size: 12px;
    }
    #get-in-touch .footer_social_icon {
        text-align: center;
    }
    #get-in-touch .footer_social_icon .social_text_end {
        text-align: center;
    }
}