/*Screen Layout: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1326px) {
    .navbar-brand {
        color: var(--tCoderBD_white_color);
        padding: 10px 0px 5px 0px !important;
        font-size: 25px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px 10px 10px;
    }
    .navbar-toggle {
        border-color: var(--tCoderBD_white_color);
        margin-right: 0;
        padding: 5px 8px;
    }
    .home__background__text__h1 {
        font-size: 35px;
    }
    .home__background__text_h2 {
        font-size: 15px;
    }
    .home__background img {
        height: 25px;
    }
    .about__user_friendly_margin {
        display: none;
    }
}


/* Screen Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar__varticalbar {
        display: none !important;
    }
    .navbar-brand {
        color: var(--tCoderBD_white_color);
        padding: 10px 0px 5px 0px !important;
        font-size: 25px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
    }
    .navbar-toggle {
        border-color: var(--tCoderBD_white_color);
        margin-right: 0;
        padding: 5px 8px;
    }
    .home__background__text__h1 {
        font-size: 25px;
    }
    .home__background__text_h2 {
        font-size: 10px;
    }
    .home__background img {
        height: 20px;
    }
    .about__user_friendly_margin {
        display: none;
    }
    .portfolio__text__bottom {
        font-size: 12px;
    }
    .portfolio_showcasing {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


/* Screen Layout: 320px. */

@media only screen and (max-width: 1200px) {
    .navbar__varticalbar {
        display: none !important;
    }
    .navbar-brand {
        color: var(--tCoderBD_white_color);
        padding: 10px 0px 5px 0px !important;
        font-size: 25px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
    }
    .navbar-toggle {
        border-color: var(--tCoderBD_white_color);
        margin-right: 0;
        padding: 5px 8px;
    }
    .home__background__text__h1 {
        font-size: 25px;
    }
    .home__background__text_h2 {
        font-size: 10px;
    }
    .home__background img {
        height: 20px;
    }
    .about__user_friendly_margin {
        display: none;
    }
    /* Count Background */
    .count__background {
        height: 70vh;
    }
    .count__background .container {
        padding: 100px;
    }
    .count__background img {
        height: 40px;
        padding-right: 10px;
    }
    .count__background h4 {
        font-size: 15px;
    }
    .count__background h6 {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .portfolio__text__bottom {
        font-size: 10px;
    }
    .portfolio_showcasing {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .portfolio__overlay_middle_section {
        bottom: 2%;
        left: 3%;
        right: 2%;
        top: 5%;
        width: 94%;
        height: 90%;
    }
    .watch_text {
        font-size: 20px;
        font-weight: 200;
    }
    .single-testimonial {
        padding: 10px;
    }
}


/* Screen Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar__varticalbar {
        display: none !important;
    }
    .navbar-brand {
        color: var(--tCoderBD_white_color);
        padding: 10px 0px 5px 0px !important;
        font-size: 25px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
    }
    .navbar-toggle {
        border-color: var(--tCoderBD_white_color);
        margin-right: 0;
        padding: 5px 8px;
    }
    .about__user_friendly_margin {
        display: none;
    }
    .count__background img {
        height: 25px;
        padding-right: 10px;
    }
    .count__background h4 {
        font-size: 12px;
    }
    .count__background h6 {
        font-size: 9px;
        margin-bottom: 15px;
    }
    .portfolio__text__bottom {
        font-size: 10px !important;
    }
    .portfolio_showcasing {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media only screen and (max-width: 479px) {
    .count__background h4 {
        font-size: 10px;
    }
    .count__background h6 {
        font-size: 8px;
        margin-bottom: 15px;
    }
    .count__background img {
        height: 20px;
        padding-right: 10px;
    }
    .option_selection .list-group-item {
        font-size: 12px;
        padding: 0.1rem 0.4rem;
    }
    .portfolio__text__bottom {
        font-size: 10px !important;
    }
    .portfolio_showcasing {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}