/*
###########################################################
 Contents Page For tCoderBD 

/* === CONTENTS 

## 01. Root Css
## 02. Preloader CSS
## 03. Navbar CSS
## 04. About CSS
## 05. Portfolio CSS
## 06. Watch Video CSS
## 07. Team CSS
## 08. Testimonials CSS
## 09. Partners CSS
## 10.Blog Post CSS
## 11. Subscribe section CSS

###########################################################
*/


/* 01.Root Css */

@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

:root {
    --tCoderBD_background_transparent_Color: #d2511f;
    --tCoderBD_Button_Hover_Color: #ff3535;
    --tCoderBD_white_color: #ffffff;
    --tCoderBD_text_color: #f03c2a;
    --tCoderBD_second_background_transparent_Color: #e15244;
    --tCoderBD_third_background_transparent_Color: #10100f;
    --tCoderBD_footer_background_color: #e84c3d;
    --tCoderBD_transparent_Color: #d2521f0c;
    --tCoderBD_portfolio_background_Color: #f6f6f6;
    --tCoderBD_portfolio_overlay_color: #f52112c9;
    --tCoderBD_blog_background_color: #E84C3D;
}

.description_p {
    font-size: 13px;
}

.overlay_container {
    position: relative;
    width: 100%;
}

.overlay_image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 2%;
    left: 2%;
    right: 2%;
    top: 2%;
    overflow: hidden;
    width: 96%;
    height: 96%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--tCoderBD_portfolio_overlay_color);
}

.overlay_text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay_container:hover .overlay {
    opacity: 1;
}


/* 02.Preloader CSS */

.tCoder-preloader {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.tCoder-preloader .spinner {
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: var(--tCoderBD_Button_Hover_Color);
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .loader2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .loader3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .loader4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .loader5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


/* 03.Navbar CSS */

.navbar {
    /* background-color: var(--tCoderBD_transparent_Color); */
    height: 40px;
}

.nav-link {
    color: var(--tCoderBD_white_color) !important;
    font-weight: 600;
    transition: 0.4s;
    margin-right: 15px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 40px 10px 15px 10px;
}

.nav-link:hover {
    background-color: var(--tCoderBD_Button_Hover_Color);
}

.navbar__varticalbar {
    margin: 0px !important;
}

.navbar__varticalbar:hover {
    background-color: transparent !important
}

.navbar__search {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.navbar-brand {
    color: var(--tCoderBD_white_color);
    font-family: 'Ceviche One', cursive;
    padding: 50px 0px 15px 0px;
    font-size: 30px;
}

.navbar__active {
    background-color: var(--tCoderBD_Button_Hover_Color);
}

.navbar-toggle {
    border-color: var(--tCoderBD_white_color);
    margin-right: 0;
    padding: 9px 10px;
}

.navbar-toggler {
    color: var(--tCoderBD_white_color);
}

.navbar .navbar-toggler {
    border-color: var(--tCoderBD_white_color);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
    background-color: var(--tCoderBD_transparent_Color);
    border-color: var(--foodcafe_navbar_text_yellow_color);
}

.navbar .navbar-toggler-icon {
    color: var( --tCoderBD_white_color);
}

.navbar_scrolled {
    background-color: var(--tCoderBD_background_transparent_Color);
    height: 80px;
}

.navbar-collapse_color {
    background-color: var(--tCoderBD_background_transparent_Color);
}


/* 03.Home CSS */

.home__background {
    background-image: linear-gradient(#ec4d0f, #ff35007a), url(../images/background/background-1.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home__background .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.home__background__text__h1 {
    font-family: 'Ceviche One', cursive;
    font-size: 45px;
}

.home__background__text_h2 {
    font-size: 18px;
}

.home__background img {
    color: var(--tCoderBD_white_color) !important;
    position: absolute;
    top: 85%;
    left: 50%;
    color: white;
    height: 28px;
}


/* 04. About CSS  */

.about__user_friendly_h5 {
    text-transform: uppercase !important;
    color: var(--tCoderBD_Button_Hover_Color);
}

.about__user_friendly img {
    height: 34px;
}

.about__user_friendly_margin {
    display: inline-block;
    margin-bottom: -15em;
    height: 11em;
    width: 0.1em;
    background-color: var(--tCoderBD_Button_Hover_Color);
    margin-left: 3.5em;
    margin-right: 0.5em;
}

.about__user_friendly_bottom_margin {
    background: 2px solid black;
}


/* Skills */

.progress-bar {
    background-color: var(--tCoderBD_Button_Hover_Color);
}


/* Services */

.services_main .icon-box {
    width: 70px;
    height: 66px;
    border: 1px solid var(--tCoderBD_Button_Hover_Color);
    border-radius: 5px;
    text-align: center;
    transform: rotate(-45deg);
}

.services_main .icon-box img {
    transform: rotate(45deg);
    padding-left: 12px;
    padding-top: 12px;
}

.about_read_more_button {
    padding: 10px 40px;
    border: 1px solid var(--tCoderBD_Button_Hover_Color);
    background-color: var(--tCoderBD_white_color);
    transition: 0.4s;
}

.about_read_more_button:hover {
    background-color: var(--tCoderBD_Button_Hover_Color);
    color: white;
}


/* Count  */

.count__background {
    background-image: linear-gradient(#e02916c7, #f40a0a87), url(../images/background/background-2.png);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    color: var(--tCoderBD_white_color);
}

.count__background .container {
    color: white;
    text-transform: uppercase;
    padding-top: 150px;
}

.count__background img {
    height: 50px;
    width: 79px;
    padding-right: 15px;
}


/* 05. Portfolio CSS */

.portfolio_section {
    background-color: var(--tCoderBD_portfolio_background_Color);
    padding: 100px 150px 100px 150px;
}

.option_selection {
    position: relative;
}

.option_selection .list-group-item {
    border: 1px solid transparent;
    padding: 0.1rem 1rem;
    background-color: transparent;
}

.option_selection .list-group-item:hover {
    color: var(--tCoderBD_Button_Hover_Color);
    border: 1px solid var(--tCoderBD_Button_Hover_Color);
    padding: 0.1rem 1rem;
    cursor: pointer;
    border-radius: 0px;
}

.list_group_item_active {
    color: var(--tCoderBD_Button_Hover_Color) !important;
    border: 1px solid var(--tCoderBD_Button_Hover_Color) !important;
}


/* Single Item Hover */

.single__item__container {
    position: relative;
    width: 100%;
    padding: 1px;
}

.portfolio__images {
    display: block;
    width: 100%;
    height: 100%;
}

.portfolio__overlay {
    position: absolute;
    bottom: 2%;
    left: 2%;
    right: 2%;
    top: 2%;
    background-color: var(--tCoderBD_portfolio_overlay_color);
    overflow: hidden;
    width: 96%;
    height: 96%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.portfolio__overlay_middle_section {
    bottom: 3%;
    left: 2%;
    right: 3%;
    top: 5%;
    width: 96%;
    height: 90%;
}

.single__item__container:hover .portfolio__overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.portfolio__text__middle {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio__text__bottom {
    color: white;
    position: absolute;
    top: 90%;
    left: 100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    padding-bottom: 10px;
}

.first_row_section img {
    height: 200px;
}

.second_row_section img {
    height: 300px;
}

.portfolio_plus_sign {
    font-size: 30px;
}

.middle_section img {
    height: 146px !important;
}

.portfolio__text__middle img {
    height: 70px !important;
}

.height_middle {
    height: 50%;
}

.portfolio__text__bottom_middle {
    top: 90%;
    left: 40px;
    padding-bottom: 10px;
}


/* 06. Watch Video CSS */

.watch_video {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/background/video_background.png);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
}

.watch_video_title {
    text-transform: uppercase !important;
    color: var(--tCoderBD_white_color);
    padding-top: 0px !important;
}

.watch_text {
    font-size: 25px;
    font-weight: 200;
}


/* 07. Team CSS */

.team_h5 {
    text-transform: uppercase !important;
    color: #4f4f4f;
}

.card-body a {
    color: #272727;
}

.card-body a:hover {
    color: #f03c2a;
}

.card-img-top {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-body {
    background-color: var(--tCoderBD_portfolio_background_Color);
}

.card-body i {
    padding-right: 10px;
}

.card img {
    height: 300px !important;
}


/* 08. Testimonials Section */

.testimonial {
    background-color: #ddd;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* text-align: center; */
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    height: 80vh;
}

.testimonial {
    background-image: linear-gradient(#000000c7, #00000087), url(../images/background/background-4.png);
}

.testimonials_h5 {
    text-transform: uppercase !important;
    color: var(--tCoderBD_Button_Hover_Color);
    letter-spacing: 3px;
}

.testimonial_text_p {
    font-size: 13px;
    color: var(--tCoderBD_white_color);
    font-style: italic;
}

.testimonial:before {
    content: "";
    /* background: rgba(0, 0, 0, .5); */
    position: absolute;
    left: 0;
    height: 100vh;
    top: 0;
    width: 100%;
}

.single-testimonial h1 {
    font-size: 60px;
    margin: 0 0 25px;
    color: var(--tCoderBD_Button_Hover_Color);
}

.testimonial-image {
    width: 165px;
    height: 165px;
    border-radius: 100%;
    margin: 0 auto 0px;
    padding-top: 0px;
}

.single-testimonial {
    background-color: transparent;
    padding: 50px;
}

#clientsFeedback .carousel-item:before {
    content: "";
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.carousel-indicators button {
    background-color: transparent !important;
    border: 1px solid var(--tCoderBD_blog_background_color) !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    display: inline-block !important;
    margin: 0 5px !important;
    margin-bottom: 50px !important;
}

.carousel-indicators button:hover {
    background-color: var(--tCoderBD_blog_background_color) !important;
}

.carousel-indicators .active {
    background-color: var(--tCoderBD_blog_background_color) !important;
}


/* 09. Paerners Section */


/* Partners Section  */

.partner-box img {
    max-width: 100%;
    display: block;
    padding: .5em 2rem;
}

.ec {
    position: relative;
}

.ec .ec__holder {
    overflow: hidden
}

.ec .ec__track {
    will-change: transform
}

.ec .ec__track:after {
    content: '';
    display: table;
    clear: both
}

.ec .ec__item {
    float: left;
    overflow: hidden
}

.ec .ec__pagination {
    text-align: center;
    margin-top: 10px
}

.ec .ec__pagination .pagination__dot {
    width: 8px;
    height: 8px;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #000;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer
}

.ec .ec__pagination .pagination__dot--active {
    background-color: #000
}

.ec .ec__nav {
    position: absolute;
    bottom: 50%;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    width: 8px;
    height: 8px;
    cursor: pointer
}

.ec .ec__nav:before {
    content: ''
}

.ec .ec__nav--prev {
    transform: rotate(-135deg);
    left: 1em
}

.ec .ec__nav--next {
    transform: rotate(45deg);
    right: 1em
}


/* 10.Blog Post CSS */


/* Blog Posts Section  */

.blog_posts_card {
    background-color: var(--tCoderBD_blog_background_color);
    height: 250px;
}

.blog_posts_h5 {
    text-transform: uppercase !important;
    color: var(--tCoderBD_white_color);
}

.blog_posts_title {
    height: 80px;
}

.blog_posts_text {
    height: 100px;
    color: var(--tCoderBD_white_color);
}


/* 13.Footer Section CSS */


/* Get in touch section  */

#get-in-touch .contact-section {
    height: 85vh;
    background-color: var(--tCoderBD_footer_background_color);
}

#get-in-touch .contact-text {
    font-size: 15px;
    padding-bottom: 5px;
}

#get-in-touch .footer_social_icon {
    color: white;
}

#get-in-touch .footer_social_icon:hover {
    color: rgb(0, 0, 0);
}


/* Contact form  */

#get-in-touch button {
    overflow: visible;
}

#get-in-touch button,
select {
    text-transform: none;
}

#get-in-touch button,
input,
select,
textarea {
    color: #ffffff;
    font: inherit;
    margin: 0;
}

#get-in-touch input {
    line-height: normal;
}

#get-in-touch textarea {
    overflow: auto;
}

#get-in-touch form {
    margin: 50px 0;
}

#get-in-touch .email {
    float: right;
    width: 45%;
}

#get-in-touch input[type='text'],
[type='email'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#get-in-touch input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

#get-in-touch .message {
    float: none;
}

#get-in-touch .name {
    float: left;
    width: 45%;
}

#get-in-touch .subject {
    width: 100%;
}

#get-in-touch .telephone {
    width: 100%;
}

#get-in-touch textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

#get-in-touch .footer_social_icon .social_text_end {
    text-align: end;
}

#get-in-touch ::-webkit-input-placeholder {
    color: #ffffff;
}

#get-in-touch :-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

#get-in-touch ::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

#get-in-touch :-ms-input-placeholder {
    color: #ffffff;
}

#get-in-touch #form_button {
    background: none;
    border: solid 2px #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#get-in-touch #form_button:hover {
    background: #ffffff;
    color: var(--tCoderBD_footer_background_color);
    border: solid 2px var(--tCoderBD_footer_background_color);
}

@media screen and (max-width: 768px) {
    #get-in-touch #container {
        margin: 20px auto;
        width: 95%;
    }
    #get-in-touch .contact-section {
        height: 1000px;
        background-color: var(--tCoderBD_footer_background_color);
    }
    #get-in-touch.footer_social_icon {
        float: left;
        justify-content: center;
        padding-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    #get-in-touch h1 {
        font-size: 26px;
    }
    #get-in-touch .underline {
        width: 68px;
    }
}

@media screen and (max-width: 420px) {
    #get-in-touch h1 {
        font-size: 18px;
    }
    #get-in-touch .icon {
        height: 35px;
        width: 35px;
    }
    #get-in-touch .underline {
        width: 53px;
    }
    #get-in-touch input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }
}


/* 11.Subscribe  CSS */

.subscribe_section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.295)), url(../images/background/background_5.png);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    color: var(--tCoderBD_white_color);
}

.blog_section_title {
    text-transform: uppercase !important;
    color: var(--tCoderBD_white_color);
    padding-top: 50px;
    text-align: center;
    color: var(--tCoderBD_Button_Hover_Color);
}

.subscribe_section .button {
    padding: 10px 25px 10px 10px;
    background-color: var(--tCoderBD_Button_Hover_Color);
    color: white;
    min-width: 50px;
    text-align: center;
}

.input_section {
    position: relative;
}

.input_section .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: var(--tCoderBD_transparent_Color);
}

.input_section .icon {
    position: absolute;
    top: 20%;
    left: 3%;
    font-size: 25px;
}

.subscribe_section .input_section {
    border: 1px solid var(--tCoderBD_white_color);
}


/* 12. Pricing Table */

.pricing_box .row {
    padding: 100px;
}

.pricing_box .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 10px;
}

.pricing_box .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.09);
}

.pricing_box .price .header {
    background-color: var(--tCoderBD_white_color);
    color: var(--tCoderBD_Button_Hover_Color);
    font-size: 20px;
    padding: 30px 90px 120px 90px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
}

.pricing_box .price li {
    border-bottom: 1px solid rgb(216, 213, 213);
    padding: 15px;
    text-align: center;
    background-color: #eee;
}

.pricing_box .price .grey {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.pricing_box .button {
    background-color: var(--tCoderBD_Button_Hover_Color);
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.pricing_box .buy_now_button li {
    border: none !important;
    padding: 30px;
}

.pricing_box .pricing_value_container li {
    padding: 35px;
}

.pricing_box .pricing_value {
    background-color: var(--tCoderBD_Button_Hover_Color);
    padding: 30px;
    border-radius: 50%;
    color: var(--tCoderBD_white_color);
    transition: 0.5s;
}

.pricing_box .price:hover .header {
    background-color: var(--tCoderBD_Button_Hover_Color);
    color: var(--tCoderBD_white_color);
}

.pricing_box .price:hover .pricing_value {
    color: var(--tCoderBD_Button_Hover_Color);
    background-color: var(--tCoderBD_white_color);
}

.pricing_box .pricing_amount {
    font-size: 40px;
    font-weight: bold;
}

.pricing_box .pricing_dollar {
    font-size: 20px;
}

.pricing_box .pricing_month {
    font-size: 12px;
    text-transform: uppercase;
}


/* Progress bar section */

.progress_bar_section .bar {
    margin: 20px 0;
}

.progress_bar_section .bar:first-child {
    margin-top: 0px;
}

.progress_bar_section .bar .info {
    margin-bottom: 5px;
}

.progress_bar_section .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.progress_bar_section .bar .progress-line {
    height: 12px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress_bar_section .bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--tCoderBD_Button_Hover_Color);
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress_bar_section .bar .progress-line.html span {
    width: 90%;
}

.progress_bar_section .bar .progress-line.css span {
    width: 60%;
}

.progress_bar_section .bar .progress-line.jquery span {
    width: 85%;
}

.progress_bar_section .bar .progress-line.python span {
    width: 80%;
}

.progress_bar_section .progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress_bar_section .progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress_bar_section .progress-line.html span::after {
    content: "90%";
}

.progress_bar_section .progress-line.css span::after {
    content: "85%";
}

.progress_bar_section .progress-line.jquery span::after {
    content: "85%";
}

.progress_bar_section .progress-line.python span::after {
    content: "80%";
}